<html id="model-list">

<body>
            <div class="navbar navbar-default">
              <div class="navbar-header">
                <a href="#" class="navbar-brand">Model Catalog</a>
              </div>
              <div class="navbar-collapse">
                   <form class="navbar-form navbar-right">
                   <div class="form-group text-warning" ng-if="isloading()"> ...data still loading... </div>
                   <div class="form-group">
                    <input id="search_model" ng-model="search.$" size="50" type="text" class="form-control" placeholder="Search">
                   </div>
                    <button class="btn btn-primary" ng-if="is_collab_member==true" ng-href="#/model-catalog/create"><span class="glyphicon glyphicon-plus"></span> New model</button>
                    <a href="#" ng-click="Context.modelCatalog_goToHelpView()">Help</a>
                   </form>
              </div>
            </div>

        <table class="table main-table">
            <thead>
                <tr>
                    <th class="col-lg-3"><a href="#" ng-click="switchSort('name')">Name</a>
                    <span ng_switch="order_by">
                        <span ng-switch-when="name">&darr;</span>
                        <span ng-switch-when="-name">&uarr;</span>
                        <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                    </span>
                    </th>
                    <th class="col-lg-1"><a href="#" ng-click="switchSort('alias')">Alias</a>
                    <span ng_switch="order_by">
                        <span ng-switch-when="alias">&darr;</span>
                        <span ng-switch-when="-alias">&uarr;</span>
                        <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                    </span>
                    </th>
                    <th class="col-lg-2"><a href="#" ng-click="switchSort('author')">Author(s)</a>
                    <span ng_switch="order_by">
                        <span ng-switch-when="author">&darr;</span>
                        <span ng-switch-when="-author">&uarr;</span>
                        <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                    </span>
                    </th>
                    <th class="col-lg-1"><a href="#" ng-click="switchSort('creation_date')">Date</a>
                    <span ng_switch="order_by">
                        <span ng-switch-when="creation_date">&darr;</span>
                        <span ng-switch-when="-creation_date">&uarr;</span>
                        <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                    </span>
                    </th>
                    <th class="col-lg-1">
                        <button type="button" title="Filter species" class="btn btn-default" ng-model="selected_species" bs-options="value for value in collab_species" bs-on-before-show="onBeforeShow_select" data-multiple="1" bs-select>
                            Action <span class="caret" />
                        </button><a href="#" ng-click="switchSort('species')">Species</a>
                        <span ng_switch="order_by">
                            <span ng-switch-when="species">&darr;</span>
                            <span ng-switch-when="-species">&uarr;</span>
                            <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                        </span>
                    </th>
                    <th class="col-lg-1">
                        <button type="button" title="Filter brain region" class="btn btn-default" ng-model="selected_brain_region" bs-options="value for value in collab_brain_region" bs-on-before-show="onBeforeShow_select" data-multiple="1" bs-select>
                            Action <span class="caret" />
                        </button><a href="#" ng-click="switchSort('brain_region')" title="Brain region">B. region</a>
                        <span ng_switch="order_by">
                            <span ng-switch-when="brain_region">&darr;</span>
                            <span ng-switch-when="-brain_region">&uarr;</span>
                            <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                        </span>
                    </th>
                    <th class="col-lg-1">
                        <button type="button" title="Filter cell type" class="btn btn-default" ng-model="selected_cell_type" bs-options="value for value in collab_cell_type" bs-on-before-show="onBeforeShow_select" data-multiple="1" bs-select>
                            Action <span class="caret" />
                        </button><a href="#" ng-click="switchSort('cell_type')">Cell type</a>
                        <span ng_switch="order_by">
                            <span ng-switch-when="cell_type">&darr;</span>
                            <span ng-switch-when="-cell_type">&uarr;</span>
                            <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                        </span>
                    </th>
                    <th class="col-lg-1">
                        <button type="button" title="Filter model scope" class="btn btn-default" ng-model="selected_model_scope" bs-options="value for value in collab_model_scope" bs-on-before-show="onBeforeShow_select" data-multiple="1" bs-select>
                            Action <span class="caret" />
                        </button><a href="#" ng-click="switchSort('model_scope')" title="Model scope">M. scope</a>
                        <span ng_switch="order_by">
                            <span ng-switch-when="model_scope">&darr;</span>
                            <span ng-switch-when="-model_scope">&uarr;</span>
                            <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                        </span>
                    </th>
                    <th class="col-lg-1">
                        <button type="button" id="abstr_level_button" title="Filter abstraction level" class="btn btn-default" ng-model="selected_abstraction_level" bs-on-before-show="onBeforeShow_select" bs-options="value for value in collab_abstraction_level" data-multiple="1" bs-select>
                            Action <span class="caret" />
                        </button><a href="#" ng-click="switchSort('abstraction_level')" title="Abstraction level">Abst. level</a>
                        <span ng_switch="order_by">
                            <span ng-switch-when="abstraction_level">&darr;</span>
                            <span ng-switch-when="-abstraction_level">&uarr;</span>
                            <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                        </span>
                    </th>
                    <th class="col-lg-1">
                        <button type="button" title="Filter organization" class="btn btn-default" ng-model="selected_organization" bs-options="value for value in collab_organization" bs-on-before-show="onBeforeShow_select" data-comparator="organizationComparator" data-multiple="1" bs-select>
                            Action <span class="caret" />
                        </button><a href="#" ng-click="switchSort('organization')" title="Organization">Organiz.</a> 
                        <span ng_switch="order_by">
                            <span ng-switch-when="organization">&darr;</span>
                            <span ng-switch-when="-organization">&uarr;</span>
                            <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                        </span>
                    </th>
                    <th class="col-lg-1">
                        <button type="button" title="Filter collab ID" class="btn btn-default" ng-model="selected_collab" bs-options="value for value in collab_ids_to_select" bs-on-before-show="onBeforeShow_select" data-multiple="1" bs-select>
                            Action <span class="caret" />
                        </button><a href="#" ng-click="switchSort('app.collab_id')">Collab ID</a>
                        <span ng_switch="order_by">
                            <span ng-switch-when="app.collab_id">&darr;</span>
                            <span ng-switch-when="-app.collab_id">&uarr;</span>
                            <span style="visibility:hidden;" ng-switch-default>&uarr;</span>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-mousedown="Context.goToModelDetailView($event, model.id)" oncontextmenu="return false" class="tr-clickable " dir-paginate="model in models.models | filter:search | filterMultiple:{ organization:selected_organization, species:selected_species, brain_region:selected_brain_region, cell_type:selected_cell_type, model_scope:selected_model_scope, abstraction_level:selected_abstraction_level, collab_id: selected_collab}
                        | orderBy: order_by:false:organizationComparator | itemsPerPage: itemsPerPages" pagination-id="models">

                    <td><span ng-if="model.private == 1" class="glyphicon glyphicon-lock" title="Private"></span><span ng-if="model.private == 0" 
                        class="glyphicon glyphicon-book" title="Public"></span> {{model.name}}
                    </td>
                    <td ng-text-truncate=model.alias ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.alias }}</td>
                    <td ng-text-truncate=model.author ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.author }}</td>
                    <td>{{ model.creation_date | date:'yyyy-MM-dd' }}</td>
                    <td ng-text-truncate=model.species ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.species }}</td>
                    <td ng-text-truncate=model.brain_region ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.brain_region }}</td>
                    <td ng-text-truncate=model.cell_type ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.cell_type }}</td>
                    <td ng-text-truncate=model.model_scope ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.model_scope }}</td>
                    <td ng-text-truncate=model.abstraction_level ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.abstraction_level }}</td>
                    <td ng-text-truncate=model.organization ng-tt-chars-threshold="50 " ng-tt-no-toggling>{{ model.organization }}</td>
                    <td class="collab-id">{{ model.app.collab_id }}</td>
                </tr>
            </tbody>
        </table><dir-pagination-controls pagination-id="models"></dir-pagination-controls>
        <!--<dir-pagination-controls pagination-id="models" class="pull-right" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>-->

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
</body>


</html>
