<!--<div ng-app="testApp">-->
<div>
    <div ng-controller="ParametersConfigurationCtrl">

        <div>
        <div class="col-lg-4">
	<div class="panel panel-primary">
            <div class="panel-heading">
                Model scope<label style="float:right;"><input type="checkbox" ng-model="select_all['model_scope']" ng-change="select_all_fn('model_scope')" />Select All</label>
            </div>
            <div class="panel-body">
                <div class="list-group list-group-border params-list-group checkbox">
                    <label class="list-group-item params-list-group-item" ng-repeat="value in model_scope">
                        <input type="checkbox" ng-change="test_select_all('model_scope')" ng-model="checkboxes['model_scope'][value.authorized_value]" />{{value.authorized_value}}
                    </label>
                </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4">
	<div class="panel panel-primary">
            <div class="panel-heading">
                Abstraction level<label style="float:right;"><input type="checkbox" ng-model="select_all['abstraction_level']" ng-change="select_all_fn('abstraction_level')" />Select All</label>
            </div>
            <div class="panel-body">
                <div class="list-group list-group-border params-list-group checkbox">
                    <label class="list-group-item params-list-group-item" ng-repeat="value in abstraction_level">
                        <input type="checkbox" ng-change="test_select_all('abstraction_level')" ng-model="checkboxes['abstraction_level'][value.authorized_value]" />{{value.authorized_value}}
                    </label>
                </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4">
	<div class="panel panel-primary">
            <div class="panel-heading">
                Organization<label style="float:right;"><input type="checkbox" ng-model="select_all['organization']" ng-change="select_all_fn('organization')" />Select All</label>
            </div>
            <div class="panel-body">
                <div class="list-group list-group-border params-list-group checkbox">
                    <label class="list-group-item params-list-group-item" ng-repeat="value in organization">
                        <input type="checkbox" ng-change="test_select_all('organization')" ng-model="checkboxes['organization'][value.authorized_value]" />{{value.authorized_value}}
                    </label>
                </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4">
	<div class="panel panel-primary">
            <div class="panel-heading">
                Species<label style="float:right;"><input type="checkbox" ng-model="select_all['species']" ng-change="select_all_fn('species')" />Select All</label>
            </div>
            <div class="panel-body">
                <div class="list-group list-group-border params-list-group checkbox">
                    <label class="list-group-item params-list-group-item" ng-repeat="value in species">
                        <input type="checkbox" ng-change="test_select_all('species')" ng-model="checkboxes['species'][value.authorized_value]" />{{value.authorized_value}}
                    </label>
                </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4">
	<div class="panel panel-primary">
            <div class="panel-heading">
                Brain region<label style="float:right;"><input type="checkbox" ng-model="select_all['brain_region']" ng-change="select_all_fn('brain_region')" />Select All</label>
            </div>
            <div class="panel-body">
                <div class="list-group list-group-border params-list-group checkbox">
                    <label class="list-group-item params-list-group-item" ng-repeat="value in brain_region">
                        <input type="checkbox" ng-change="test_select_all('brain_region')" ng-model="checkboxes['brain_region'][value.authorized_value]" />{{value.authorized_value}}
                    </label>
                </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4">
	<div class="panel panel-primary">
            <div class="panel-heading">
                Cell type<label style="float:right;"><input type="checkbox" ng-model="select_all['cell_type']" ng-change="select_all_fn('cell_type')" />Select All</label>
            </div>
            <div class="panel-body">
                <div class="list-group list-group-border params-list-group checkbox">
                    <label class="list-group-item params-list-group-item" ng-repeat="value in cell_type">
                        <input type="checkbox" ng-change="test_select_all('cell_type')" ng-model="checkboxes['cell_type'][value.authorized_value]" />{{value.authorized_value}}
                    </label>
                </div>
            </div>
        </div>
        </div>
	
        <p><button class="btn btn-primary" ng-click="make_post();">Save</button></p>

    </div>



</div>
