.panel {
    height: 335px;
}

.params-list-group-item:hover  {
    background-color: #f5f5f5;
}

.params-list-group {
    height: 235px;
    overflow: auto;
    padding: 0 !important;
    margin: 0 !important;
}
